html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}

#map {
  width: 100%;
  height: 100%;
}

#group-select-style {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 100;
}
