//colors
$color_gallery_approx: #eee;
$white: white;

.ol-control.layer-switcher {
	position: absolute;
	top: 3.5em;
	right: 0.5em;
	text-align: left;
	&.shown {
		bottom: 3em;
		&.ol-control {
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}
		.panel {
			display: block;
		}
		button {
			display: block;
		}
	}
	.panel {
		padding: 0 1em 0 0;
		margin: 0;
		border: 4px solid $color_gallery_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 4px;
		background-color: $white;
		display: none;
		max-height: 100%;
		overflow-y: auto;
        ul.hide-layer-group {
            display:none;
        }
	}
	button {
		float: right;
		width: 64px;
		height: 64px;
		background-image: url('./layers.png');
		background-repeat: no-repeat;
		background-position: 0px;
		background-color: transparent;
		border: none;
		&:focus {
			background-color: $white;
		}
		&:hover {
			background-color: $white;
		}
	}
	ul {
		padding-left: 1em;
		list-style: none;
	}
	li {
		&.group {
			padding-top: 5px;
			> label {
				font-weight: bold;
			}
		}
		&.layer {
			display: table;
			label {
				display: table-cell;
				vertical-align: sub;
			}
			input {
				display: table-cell;
				vertical-align: sub;
			}
		}
	}
	input {
		margin: 4px;
	}
	&.touch {
		::-webkit-scrollbar {
			width: 4px;
		}
		::-webkit-scrollbar-track {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 10px;
		}
		::-webkit-scrollbar-thumb {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 10px;
		}
	}
}